<ion-content>
  <ion-grid class="">
    <!--LOGO PANEL START-->
    <ion-row>
      <IonCol size="12" size-sm class="login-text-panel">
          <ion-text class="login-text-section" >
            <h2>Confirm with Fingerprint</h2>          
            <p>Touch the Sensor</p>                   
            <img alt="sensor" title="sensor" src="../assets/sensor.png">          
            <p class="last-text" [routerLink]="['/pattern-login']">Use <strong>Pattern</strong> to Login</p>
          </ion-text>
      </IonCol>
    </ion-row>
  </ion-grid>    
</ion-content>
