<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@lazot.com</ion-note>

          <ion-menu-toggle auto-hide="false" >
            <ion-item>
              <ion-icon name="log-in-outline" class="login-input-icon"></ion-icon>
              <ion-label  [routerLink]="['/register']">Register</ion-label>
            </ion-item> 
            <ion-item>
              <ion-icon name="log-in-outline" class="login-input-icon"></ion-icon>
              <ion-label  [routerLink]="['/new-user-register']">New User Registration</ion-label>
            </ion-item>  
            <ion-item>
              <ion-icon name="log-in-outline" class="login-input-icon"></ion-icon>
              <ion-label  [routerLink]="['/login']">Login</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="log-in-outline" class="login-input-icon"></ion-icon>
              <ion-label  [routerLink]="['/pattern-login']">Pattern Login</ion-label>
            </ion-item> 
            <ion-item>
              <ion-icon name="log-in-outline" class="login-input-icon"></ion-icon>
              <ion-label  [routerLink]="['/gateway']">Gateway</ion-label>
            </ion-item>        
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
