<ion-header>
	<div class="new-header">
		<ion-toolbar>			
				<span class="back" (click)="goBack()"><img alt="image" title="image" src="../assets/back-black-icon.png"></span>
				<span class="filter"><img alt="image" title="image" src="../assets/notification.png"> </span>			
		</ion-toolbar>
	</div>
</ion-header>
 
<ion-content>
  <ion-grid class="page-content gateway-onboard"> 
    <ion-row>
      <ion-card>
        <ion-card-title>Gateway Onboarding</ion-card-title>
        <img alt="sensor" title="sensor" src="../assets/kitchen.png">
        <p>Disconnect Wifi and connect Gateway</p>
      </ion-card>      
    </ion-row>
    <ion-row class="onboarding-bottom">
      <p>If the <strong>Lights On,</strong> Press next Button</p>
      <ion-button expand="block" class="full-button" [routerLink]="['/gateway']">          
        Next 
      </ion-button>
    </ion-row>
  </ion-grid>    
</ion-content>
