ion-header{
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
}
ion-header, ion-toolbar, ion-header ion-list, ion-header ion-item {
    background: #0861C9;
    --background:#0861C9;
    ion-toolbar{
        margin: 10px 15px 0;
    }
    .back {
        width: auto;
        color: #fff;
        top: 0;
    }
    .filter{
        img{
            max-width: auto;
            margin-right: 22px;
        }
        ion-icon{
            color: #fff;
            font-size: 22px;
        }
    }
    ion-list{
        display: flex;
        padding: 0 0 20px 10px;
        
        ion-item.cloud-info ::after{
            display: none;
        }
        
    }
    
}
ion-header ion-item{
    display: flex;
    --inner-border-width: 0;
    align-items: flex-start;
    position: relative;
    padding: 0;   
    --padding-start: 14px;
    --inner-padding-end: 14px;         
    ::after{
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 30px;
        background-color: #6ba0de;
        content: "";
    }
    ion-avatar{
        width: auto;
        height: 100%;
        margin-right: 10px;
    }
    ion-label, p{
        font-size: 12px;
        color: #fff;
        margin: 0;
        line-height: 18px;
    }
}
.temp-info{
    align-items: flex-end !important;
    --min-height: auto;
}
.temp{
    font-size: 36px !important;
    font-weight: 400;
    position: relative;
    padding: 5px 0 0;
    line-height: 32px !important;
    margin-right: 10px !important;
    margin-top: 0;
}
.temp:after{
    content: "o" !important;
    position: absolute !important;
    right: -10px !important;
    top: 0 !important;
    font-size: 14px;
    width: auto !important;
    background-color: transparent !important;
    line-height: 14px;
    height: auto !important;
}



ion-tab-bar{
    background: #0861C9;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
    --border: 0;
    --background: #0861C9;
    color: #fff;
    --color: #fff;
    z-index: 99999;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    ion-label{
        font-size: 14px;
        font-weight: 400;
    }
    ion-tab-button.ion-activated{
        --background:#0053B4;
        border-bottom: 1px solid #fff;
    }
}
.home-content-info{
    padding: 80px 15px 60px;
    display: flex;
    flex-wrap: wrap;
    .ion-item{
        width: 44%;
        margin: 3%;
        background: #FFFFFF;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        min-height: 210px;
        h3{
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: rgba(0, 0, 0, 0.9);
            margin: 12px 0 10px;
            padding: 0;
        }
        p{
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.01em;
            color: rgba(0, 0, 0, 0.7);
            margin-bottom: 30px;
            padding: 0;
            margin-top: 0;
        }
        .bottom-panel{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            ion-toggle{
                --background:#e0e7ef;
                --background-checked:#e0e7ef;
                --border-radius:10px;
                --handle-background:#97abc1;
                --handle-background-checked:#08c9b2;
                --handle-border-radius:10px;
                --handle-height:20px;
                --handle-max-height:20px;
                --handle-width:20px;
                height: 20px;
                --handle-spacing: 0;
                --handle-box-shadow:none;
                width: 40px;
            }
            ion-button{
                width: 26px;
                height: 26px;
                left: 163px;
                top: 331px;
                border: 1px solid rgba(151, 171, 193, 0.56);
                box-sizing: border-box;
                background-color: transparent;
                --background: transparent;
                border-radius: 13px;
                color: #7896B6;
                --padding-start: 0;
                --padding-end: 0;
                font-size: 8px;
            }
        }
    }
}

ion-footer{
    background: #0861c9;
    --background:#0861c9;
    padding: 12px;
    ion-col{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        img{
            margin-bottom: 7px;
        }
        ion-label{
            font-size: 12px;
            line-height: 16px;
            color: #fff;
            text-align: center;
        }
    }
}