<ion-content>
  <ion-grid class="">
    <!--LOGO PANEL START-->
    <ion-row>
      <IonCol size="12" size-sm class="login-text-panel">
          <ion-text class="login-text-section" >
            <h2>Draw your Pattern</h2>          
            <p>Use Your password</p>                   
            <img alt="sensor" title="sensor" src="../assets/pattern-lock.png">          
            <p class="last-text" [routerLink]="['/login']">Use <strong>Fingerprint</strong> Login</p>
          </ion-text>
      </IonCol>
    </ion-row>
  </ion-grid>    
</ion-content>

